<div id="page_wrapper">

  <div id="content">
    <h1>Hey, I'm Nic Lin</h1>
    <p>這是用Rails4所架設的Blog網站</p>
    <p>目前你所瀏覽的就是DEMO作品，如果你想知道更多，可以到我的<a href="http://github.com/niclin">Githib</a></p>
    <p>Thanks!</p>
  </div>
</div>
